In [1]:
import pandas as pd
df = pd.read_csv("Final_Data.csv")
df.head()

,Placed In,Class 10 Percentage,Class 12 Percentage,Degree Percentage,Degree CGPA,Live Backlogs,Education Gap,Year down,Internship Details
0,1,59,53,70,8,0,0,1,1
1,1,86,73,67,7,0,0,0,1
2,1,83,73,77,8,0,0,0,1
3,1,93,84,85,9,0,1,0,1
4,0,82,73,78,9,0,0,0,1

In [ ]:
#split to x and y
X = df[]
Y = df